* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
}

a {
  display: flex;
}

.typo {
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
